<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Welcome to the Self Manager</h1>
        </div>
        <div class="col-md-1">
            <a href="#/register">Register</a>
        </div>
        <div class="col-md-1">
            <a href="#/login">Login </a>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>What are you doing here</h3>
            <ul>
                <li>Make my life more organized</li>
                <li>Win money</li>
                <li>Play games</li>
            </ul>
        </div>
    </div>
</div>
