<h1>Welcome to the Self Manager</h1>

<div>
    <h3>What are you doing here</h3>
    <ul>
        <li>Make my life more organized</li>
        <li>Win money</li>
        <li>Play games</li>
    </ul>
</div>