<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 id="todos-header">Welcome to the Self Manager</h1>
        </div>
        <div class="col-md-2">
            <button class="log-reg-button"><a href="#/register">Register</a></button>
        </div>
        <div class="col-md-2">
            <button class="log-reg-button"><a href="#/login">Login </a></button>
        </div>
    </div>
</div>




<div id="root" class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>What are you doing here</h3>
            <ul>
                <li>Make my life more organized</li>
                <li>Earn money</li>
                <li>Play games</li>
            </ul>
        </div>
    </div>
</div>
