<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Login</h1>
        </div>
        <div class="col-md-1">
            <a href="#/register">Register</a>
        </div>
        <div class="col-md-1">
            <a href="#/login">Login </a>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="tb-username-login">UserName: </label>
    <input id="tb-username-login" class="form-control" type="text"/>
</div>
<div class="form-group">
    <label for="tb-pass-login">Password: </label>
    <input id="tb-pass-login" class="form-control" type="password"/>
</div>

<button class="btn btn-success" id="btn-login" >Login</button>
<br/>
<a href="#/register">Are you register?</a>