<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="header">Register</h1>
        </div>
        <div class="col-md-2">
            <button class="logRegBut"><a href="#/register">Register</a></button>
        </div>
        <div class="col-md-2">         
            <button class="logRegBut"><a href="#/login">Login </a></button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="form-group">
                <label for="tb-username">Username: </label>
                <input id="tb-username" class="form-control" type="text" placeholder="Username..."/>
            </div>
            <div class="form-group">
                <label for="tb-pass">Password: </label>
                <input id="tb-pass" class="form-control" type="password" placeholder="Password..."/>
            </div>
            <div class="form-group">
                <label for="tb-pass-check">Confirm Password: </label>
                <input id="tb-pass-check" class="form-control" type="password" placeholder="Confirm password..."/>
            </div>

            <button id="btn-register" disabled>Register</button>

        </div>
    </div>
</div>