<h1>Register</h1>

<div class="form-group">
    <label for="tb-username">UserName: </label>
    <input id="tb-username" class="form-control" type="text"/>
</div>
<div class="form-group">
    <label for="tb-pass">Password: </label>
    <input id="tb-pass" class="form-control" type="password"/>
</div>

<button class="btn btn-success" id="btn-register">Register</button>
<button class="btn btn-success" id="btn-login">Login</button>