<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Add new TODO</h2>
        </div>
    </div>
    <div class="row">

        <nav class="navbar navbar-default">
            <div class="col-md-11">
                <ul class="nav navbar-nav">
                    <li><a href="#/todos">My TODOs</a></li>
                    <li><a href="#/events">My Events</a></li>
                </ul>
            </div>

            <div class="col-md-1">
                <a id="logOut" href="#/login">Log Out</a>
            </div>
        </nav>

    </div>
</div>

<div class="form-group">
    <label for="tb-todo-text">Text: </label>
    <input id="tb-todo-text" class="form-control" type="text"/>
</div>
<div class="form-group">
    <label for="tb-todo-category">Category: </label>
    <input id="tb-todo-category" class="form-control" type="text"/>
</div>

<button class="btn btn-success" id="btn-todo-add">Add</button>