<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="addTodoHeader">Add new TODO</h2>
        </div>
    </div>
    <div class="row">
        <div id="navbarTodo" class="col-sm-12">
            <div class="row">
                <div class="col-sm-10">
                    <button id="myTodo"><a href="#/todos">My TODOs</a></button>
                    <button id="myEvents"><a href="#/events">My Events</a></button>
                </div>
                <div class="col-sm-2">
                    <button id="logOut"><a href="#/login">Log Out</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="tb-todo-text">Text: </label>
                <input id="tb-todo-text" class="form-control" type="text" placeholder="Text..."/>
            </div>
            <div class="form-group">
                <label for="tb-todo-category">Category: </label>
                <input id="tb-todo-category" class="form-control" type="text" placeholder="Category..."/>
            </div>
            <button id="btn-todo-add">Add</button>
        </div>
    </div>
</div>
