#addEvent{
    background-color: #E2F0D6;
    margin-top: 10px;
    font-size: 20px;
}
.eventCat{
    font-size: 27px;
    border : 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    background-color: #95AB63;
}
.event-title{
    margin-left: 15px;
    background-color: #95AB63;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event-description{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #95AB63;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event-date{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #95AB63;
}
.event{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #BDD684;
    margin-bottom: 5px;
    font-size: 20px;
    padding-top: 10px;
}
